// $black: #1B1D1F;
// $white: #ffffff;

// $primary: #1C6368;
// $primary-light: #0A9EA3;
// $secondary:#D4BD52;

$black: #1B1D1F;
$smoke-black: #211103;
$white: #ffffff;

$primary: #1C6368;
$primary-light: #0A9EA3;
$secondary:#D4BD52;

$col-1: #96897B;
$col-2: #628395;
$col-3: #DFD5A5;
$col-4: #DBAD6A;
$col-5: #CF995F;

//highlights
$col-6: #6E0E0A;
$col-7: #B6174B;
$col-8: #BF211E;