h1, h2, h3, h4, h5, h6{
    font-family: $heading-font;
    margin:8px;
    color: $smoke-black;
}

h1{
    font-size: 48px
}
h2{
    font-size: 36px
}

p{
    font-family: $body-font;
    margin:8px;
    color: $black;
    font-size:18px;
}

a{
    font-family: $body-font;
    margin:8px;
    color: $black;
    color:inherit;
    text-decoration: inherit;
}

li{
    font-family: $body-font;
}
q, address{
    font-family: $body-font;
    font-style: italic;
}

.blue-cap{
    color: $col-2;
    -webkit-text-stroke: 0.1px $smoke-black;
}
.red-cap{
    color: $col-7;
    -webkit-text-stroke: 0.1px $smoke-black;
}

.orange-cap{
    color: $primary;
    -webkit-text-stroke: 0.1px $smoke-black;
}
.white-cap{
    color: $white;
    -webkit-text-stroke: 0.1px $smoke-black;
}